.process {
  padding: 70px;
  background: url("../../assets/background.avif");
}

.title {
  text-align: center;
  margin: 0 !important;
  color: #5d12d2 !important;
}

.subtitle {
  padding: 30px 0;
  text-align: center;
  margin: 0 !important;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  gap: 70px;
  margin: 60px 0;
}


.processCard {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
}

.border {
  padding: 10px;
  border-radius: 50%;
  border: 2px dashed #FFB000;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: #5d12d2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.desc {
  width: 300px;
  text-align: center;
}

@media (max-width:1480px) {
  .container {
    grid-template-columns: repeat(2, 400px);
    gap: 50px;
  }
}

@media (max-width:990px) {
  .processCard {
    width: 450px;
  }

  .container {
    grid-template-columns: repeat(1, 450px);
  }
}

@media (max-width:600px) {
  .process {
    padding: 30px;
  }

  .container {
    margin: 30px 0;

  }
}

@media (max-width:590px) {
  .processCard {
    width: 400px;
  }

  .container {
    grid-template-columns: repeat(1, 400px);
  }

}

@media (max-width:460px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .processCard {
    width: 100%;
    padding: 30px;
  }

  .desc {
    width: 100%;
  }
}
@media (max-width:500px) {
  .subtitle{
    font-size: 30px !important;
    font-weight: 600 !important;
  }
}
@media (max-width:410px) {
  .title{
    font-size:17px !important ;
  }
  .subtitle{
    font-size: 20px !important;
    font-weight: 700 !important;
  }
}